
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px 10px;
}

.hero {
    background-image: url("../img/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_logo {
    padding-top: 200px;
    margin-bottom: 95px;
}

.hero_title {
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 8.62px;
    margin-bottom: 53px;
}

.hero_descr {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    margin-bottom: 150px;
}

.hero_scroll {
    margin-bottom: 115px;
}

.about_title {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.about_content {
    position: relative;
}

.about_title {
    position: absolute;
    width: 420px;
    top: -25px;
    left: calc(50% - 210px);
    background-color: #ffffff;
}

.about_descr {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding: 65px 170px 29px;
}

.about_descr:last-child {
    text-align: center;
    padding: 0px 170px 29px;
}

.services_content {
    position: relative;
}

.services_title {
    position: absolute;
    width: 420px;
    top: -25px;
    left: calc(50% - 210px);
    background: transparent;
}


.content {
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid #3c3c3c;
    /* text-align: center; */
}

.hero_content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    background-image: url("../img/services.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.what_content {
 position: relative;
}

.what_title {
    position: absolute;
    width: 420px;
    top: -17px;
    left: calc(50% - 210px);
    background-color: #ffffff;
}

.what_title {
    color: #3c3c3c;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.what_items {
    padding: 0 150px;
}

.what_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design,
.development,
.Management {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.design .title {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.design .descr {
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 300;
    line-height: 25.89px;
}

.development .title {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.development .descr {
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 300;
    line-height: 25.89px;
}

.Management .title {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.Management .descr {
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 300;
    line-height: 25.89px;
}


.design img {
    padding-top: 100px;
}

.descr:last-child {
    padding-bottom: 110px;
}

.title {
    padding: 40px 0 40px 0;
}

.flex_container img {
    width: 100%;
}

.flex_container {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
}

.footer_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content img {
    margin-right: 30px;
}

.footer_content h5 {
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 400;
}


@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    .flex_container {
        flex-wrap: wrap;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
    .about_title {
        font-size: 25px;
        width: 200px;
        left: calc(50% - 100px);
        background-color: #ffffff;
    }
    .about_descr {
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        padding: 40px 60px 29px;
    }
    
    .about_descr:last-child {
        text-align: center;
        padding: 0px 60px 29px;
    }
    .what_items {
        padding: 0 25px;
    }
}
